/*********************************************************************
* Banner
*********************************************************************/

.german-banner {
    background-image: url("../img/bg.png");
    background-color: #228B22;
    color: white;
    padding: 2.5%;
}

/*********************************************************************
* Footer
*********************************************************************/

.german-footer {
    background-color: #228B22;
    color: white;
    padding: 2.5%;
}